* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 0 auto;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.container-fluid {
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* --------------------------------------------------- */
/* COL */

.col-1 {
    flex-basis: calc( (100% / 12) * 1 );
}

.col-2 {
    flex-basis: calc( (100% / 12) * 2 );
}

.col-3 {
    flex-basis: calc( (100% / 12) * 3 );
}

.col-4 {
    flex-basis: calc( (100% / 12) * 4 );
}

.col-5 {
    flex-basis: calc( (100% / 12) * 5 );
}

.col-6 {
    flex-basis: calc( (100% / 12) * 6 );
}

.col-7 {
    flex-basis: calc( (100% / 12) * 7 );
}

.col-8 {
    flex-basis: calc( (100% / 12) * 8 );
}

.col-9 {
    flex-basis: calc( (100% / 12) * 9 );
}

.col-10 {
    flex-basis: calc( (100% / 12) * 10 );
}

.col-11 {
    flex-basis: calc( (100% / 12) * 11 );
}

.col-12 {
    flex-basis: calc( (100% / 12) * 12 );
}

/* --------------------------------------------------- */

h3 {
    color: black;
    text-align: start;
}

.nested {
    background-color: #00E164;
    padding: 20px;
}

.container-nested {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.nested__grow {
    background-color: #00E164;
    padding: 20px;
    flex-grow: 3;
}

.nested__stretch {
    background-color: #00E164;
    padding: 20px;
    flex-grow: 1;
}






/* --------------------------------------------------- */
/* DEBUG */

.debug [class*="col"] {
    background-color: #016CFA;
    padding: 20px;
    border: 1px solid red;
}