* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1.red {
    background-color: #DE0029;
    padding: 20px;
}

.green {
    background-color: #03AA9E;
    padding: 20px;
}

.blue {
    background-color: #326DB3;
    padding: 20px;
}

.yellow {
    background-color: #F3C200;
    padding: 20px;
}

/* ---------------------------------------------- */

.container {
    width: 0 auto;
    margin: 30px 200px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-1 {
    flex-basis: calc( (100% / 28) * 1 );
    /* border: 1px solid black; */
}

/* ---------------------------------------------- */

