* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 0 auto;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-1 {
    flex-basis: calc( (100% / 12) * 1 );
}

.red {
    background-color: #DE0029;
}

.green {
    background-color: #03AA9E;

}

.blue {
    background-color: #326DB3;

}

.yellow {
    background-color: #F3C200;

}